.background-dark {
  background-color: #2c3e50;
}

.background-green {
  background-color: #1abc9c;
}

.background-grey {
  background-color: #3a546d;
}

.text-white {
  color: white;
}

main {
  text-align: center;
}

footer {
  text-align: center;
}

header ul {
  list-style: none;
  margin-bottom: 0;
}

header a {
  text-transform: uppercase;
}

.navbar-brand {
  text-transform: uppercase;
}

.navbar-collapse {
  flex-grow: 0;
}

span {
  text-transform: uppercase;
}

#jumbo p {
  text-transform: uppercase;
}

#jumbo h2 {
  text-transform: uppercase;
  border-bottom: 2px solid white;
}

#jumbo img {
  max-width: 150px;
}

#about h2 {
  text-transform: uppercase;
  border-bottom: 2px solid white;
}

#portfolio {
  color: black;
}

#portfolio h2 {
  text-transform: uppercase;
  border-bottom: 2px solid #1abc9c;
}

#portfolio img {
  max-width: 100%;
  border-radius: 5px;
}

#about .container, #contact .container {
  max-width: 985px;
}

#contact {
  min-height: 400px;
}

form {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

input {
  border-top: none;
  border-left: none;
  border-right: none;
}

#contact button {
  background-color: #1abc9c;
}

footer h2 {
  text-transform: uppercase;
}

footer .btn-outline-light {
  border-radius: 50%;
  width: 40px;
}

@media all and (min-width: 768px) {
  .about__description {
    column-count: 2;
    column-gap: 1.5rem;
  }
}

@media all and (max-width: 576px) {
  header nav {
    display: none;
  }
}